/* EN: Website basic format */
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* EN: Loader */
/*#region*/
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #c0c0c0;
  z-index: 10;
}

#load-animation {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 4px solid #ffffff;
  border-right: 4px solid #ffffff00;
  border-bottom: 4px solid #ffffff00;
  border-left: 4px solid #ffffff00;
  border-radius: 50px;
  animation: spin 500ms infinite;
}

@keyframes spin {
  0% {transform: rotate(-0deg);}
  100% {transform: rotate(360deg);}
}

.hide-load {
  display: none;
}
/*#endregion*/

/* EN: Website style */
/*#region*/
#main-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 5px;
  width: 100%;
  z-index: 1;
}

#photo {
  position: relative;
  grid-column: 1/3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#photo-inner {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#info {
  position: relative;
  background: #c0c0c0 url("../images/marble-texture.jpg") center no-repeat;
  background-size: cover;
  grid-column: 3/7;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}

#info > p {
  position: relative;
  color: #ffffff;
  padding: 30% 15px 0 15px;
  text-align: center;
  font-family: Comfortaa;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 2px#000000;
}

.photo-gallery {
  background: #c0c0c0 url("../images/marble-texture.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 240px;
  cursor: pointer;
  overflow: hidden;
}

.photo {
  width: 100%;
  object-fit: contain;
  height: 240px;
}

.gallery-01 {
  grid-column: 1/3;
}

.gallery-03 {
  grid-column: 4/6;
}

.gallery-05 {
  grid-column: 1/3;
}

.gallery-08 {
  grid-column: 5/7;
}

.gallery-10 {
  grid-column: 2/4;
}

.gallery-12 {
  grid-column: 5/7;
}

#photo-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000088;
  z-index: 2;
}

#photo-reel {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 75%;
  height: 600px;
}

#photo-show {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: 600px;
}

#close-button {
  position: absolute;
  background: #ffffff88;
  margin: auto;
  top: 10px;
  right: 30px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

#close-button:hover {
  background: #ffffff;
}

#close-style {
  position: absolute;
  width: 60%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#previous-button {
  position: absolute;
  margin: auto;
  top: 0;
  left: 30px;
  bottom: 0;
  border-radius: 10px 0 0 10px;
  width: 50px;
  height: 500px;
}

#previous-button:hover {
  background: #ffffff88;
}

#left-arrow {
  position: absolute;
  width: 60%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#next-button {
  position: absolute;
  margin: auto;
  top: 0;
  right: 30px;
  bottom: 0;
  border-radius: 0 10px 10px 0;
  width: 50px;
  height: 500px;
}

#next-button:hover {
  background: #ffffff88;
}

#right-arrow {
  position: absolute;
  width: 60%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
}
/*#endregion*/

/* EN: Media query format */
/*#region*/
@media screen and (max-width: 1200px) {
  #main-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  #photo {
    grid-column: 1/2;
  }

  #info {
    grid-column: 2/4;
  }

  #info > p {
    font-size: 32px;
  }

  .gallery-01 {
    grid-column: 1/3;
  }

  .gallery-03 {
    grid-column: 1/3;
  }

  .gallery-05 {
    grid-column: 1/3;
  }

  .gallery-08 {
    grid-column: 2/4;
  }

  .gallery-10 {
    grid-column: 2/4;
  }

  .gallery-12 {
    grid-column: 2/4;
  }
}

@media screen and (max-width: 550px) {
  #main-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 5px;
    column-gap: 0;
  }

  #photo {
    height: 100%;
  }

  #photo-inner {
    height: 100%;
  }

  #info {
    grid-column: 1/2;
  }

  #info > p {
    padding: 20px 10px;
    font-size: 32px;
  }

  .gallery-01, .gallery-02, .gallery-03, .gallery-04, .gallery-05, .gallery-06, .gallery-07, .gallery-08, .gallery-09, .gallery-10, .gallery-11, .gallery-12 {
    grid-column: 1/2;
  }

  #previous-button {
    left: 10px;
    height: 300px;
  }

  #next-button {
    right: 10px;
    height: 300px;
  }

  #close-button {
    right: 10px;
  }
}
/*#endregion*/
